.app_sidebar {
    margin-top: -.9rem;
    background: #fafbfc;
    width: 20vw;
    position: sticky;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);

    .sidebar {
        list-style: none;
        font-family: 'Lucida Sans';
        font-size: 1.5rem;
        padding: 0 3rem;
        margin-left: 0rem;
    }
}

.parent {
    padding: 3rem 0rem;

    &::before {
        content: '';
        background: url('../../../assets/icons/software_pen.svg');
        position: absolute;
        background-size: 2rem;
        width: 2rem;
        height: 2rem;
        left: .5rem;
        z-index: 1000;
    }
}

.mainCat {
    display: inline-block;
    margin-bottom: 1rem;
    background: #e0f3ff;
    width: 100%;
    padding: .5rem;
    color: #3f6ad8;
    border-radius: .3rem;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.sub {
    list-style: none;
    margin-left: -1rem;
    &::before {
        content: '';
        height: 62rem;
        opacity: 1;
        width: 3px;
        background: #e0f3ff;
        position: absolute;
        left: 1.4rem;
        top: 3rem;
        border-radius: 15px;
        z-index: 10;
    }

    &_ele {
        display: block;
        height: 2rem;
        margin-left: -2rem;
        padding:.5rem .5rem;
        position: relative;
        border-radius: .25rem;
        color: #495057;
        white-space: nowrap;
        transition: all .2s;
        text-decoration: none;
        background: transparent;
        text-align: left;
        cursor: pointer;
        font-weight: 400;
        font-size:1.3rem;
        &:hover{
            background: #e0f3ff;
        }
    }
}

.board {}

.settings {}

.projects {}