@import '../../scss/main.scss';

.header {
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background: #fafbfc;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    padding: .5rem;

    .intro {
        font-family: 'Baloo';
        align-self: center;
        margin-left: 1rem;
        font-size: 3rem;
        color: #585757;
        text-shadow: .1rem .1rem .2rem #ccc;
        text-transform: uppercase;
    }

    .toolbar {
        display: flex;
    }

    .profile {
        background: url("../../../assets/images/1.jpg");
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        align-self: center;
        margin: 0 2rem;
        cursor: pointer;


        &::after {
            content: '';
            cursor: pointer;
            background: url('../../../assets/icons/arrows_down.svg');
            background-size: 12px;
            background-repeat: no-repeat;
            width:10px;
            height:10px;
            position: absolute;
            right:-1.3rem;
            top:50%;
            transform: translateY(-50%);
            transition: all .2s;
        }

        .profileSub {}
    }

    .icon_wrapper {
        background: rgba(#cecece, 0.3);
        width: 5.4rem;
        height: 5.4rem;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        align-self: center;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            background: rgba(#cecece, 0.7);
        }

        .svg {
            height: 2rem;
            width: 2rem;
            @include center_vertical_horizontal;
        }

    }

    .icon_wrapper_alt {
        height: 4.4rem;
        width: 4.4rem;
        overflow: visible;
    }
}