.App {
    font-family: sans-serif;
    text-align: center;
    width: 1000px;
    height: 700px;
    transform: scale(0.9);
    overflow: hidden;
}

#container {
    width: 1000px;
    height: 700px;
    transform: scale(.9);
}

body {
    background: #262626;
}

#svg_WorldMap {
    fill: #ccc;
    stroke: #fff;
}

#mapPath {
    cursor: pointer;
}

#land {
    fill: red;
}

.selected {
    fill-opacity: .8;
}

.listed {
    fill: red;
}

.hovered {
    fill: #262626;
    filter: drop-shadow(.1rem .1rem .2rem red);
}

.state {
    background: orangered;
    display: block;
    width: 100%;
    padding: 1rem;
    color: #fff;
    font-size: 1.5rem;
}

.controller {
    position: absolute;
    color: #262626;
    z-Index: 10000;

    &>* {
        font-size: 1.8rem;
        display: block;
        background: #fff;
        border: none;
    }

    %buttonDisable {
        background: darken(#fff, 40%);
        color: #fff;
        transform: none;
        cursor: default;
    }

    %buttonHover {
        &:hover {
            transform: scale(.98);
            cursor: pointer;

            &:disabled {
                @extend %buttonDisable;
            }
        }
    }

    button:disabled {
        @extend %buttonDisable;
    }

    button:first-child {
        border-radius: .3rem .3rem 0rem 0rem;
        padding: 0 .5rem;
        @extend %buttonHover;
    }

    button:last-child {
        border-radius: 0rem 0rem .3rem .3rem;
        padding: 0 .83rem;
        @extend %buttonHover;
    }
}

.disableZoom {
    background: #ccc;
    cursor: default;
}