.App {
    font-family: sans-serif;
    text-align: center;
    overflow: hidden;
}

.container {
    margin:0 auto !important;
}

.toolTip{
    font-size:1.1rem !important;
    padding:4px 10px !important;
    z-Index:10000 !important;
    &::after{ bottom:-5px !important;}
}
.svg_WorldMap {
    fill: #ccc;
    stroke: #fff;
    max-height: 500px;
}

.mapPath {
    cursor: pointer;
}

.selected {
    fill:purple;
}

.listed {
    fill: red;
}

.hovered {
    fill: #262626;
    filter: drop-shadow(.1rem .1rem .2rem red);
    // filter:drop-shadow(8px 8px 4px rgba(0,0,0,0));
}

.state {
    background: orangered;
    display: block;
    width: 100%;
    padding: 1rem;
    color: #fff;
    font-size: 1.5rem;
}

.controller {
    position: absolute;
    color: #262626;
    z-Index: 10000;

    &>* {
        font-size: 1.8rem;
        display: block;
        background: #fff;
        border: none;
    }

    %buttonDisable {
        background: darken(#fff, 40%);
        color: #fff;
        transform: none;
        cursor: default;
    }

    %buttonHover {
        &:hover {
            transform: scale(.98);
            cursor: pointer;

            &:disabled {
                @extend %buttonDisable;
            }
        }
    }

    button:disabled {
        @extend %buttonDisable;
    }

    button:first-child {
        border-radius: .3rem .3rem 0rem 0rem;
        padding: 0 .5rem;
        @extend %buttonHover;
    }

    button:last-child {
        border-radius: 0rem 0rem .3rem .3rem;
        padding: 0 .83rem;
        @extend %buttonHover;
    }
}

.disableZoom {
    background: #ccc;
    cursor: default;
}