@mixin center_vertical_horizontal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin full {
    width: 100%;
    height: 100%;

}

@mixin card {
    box-shadow: $box-shadow-primary;
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(26, 54, 126, 0.125);
    border-radius: 0.25rem;
    padding: 1rem;
}