@import "../../../../../../components/scss/main.scss";
@keyframes rotate-right {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes rotate-left {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}

@keyframes hover {
  0% { transform: translateY(0%); }
  50% { transform: translateY(5%); } 
  100% { transform: translateY(0%); }     
}

@keyframes pull {
  0% { transform: scaleY(1); }
  40% { transform: scaleY(1.01); }
  60% { transform: scaleY(0.99); }
  80% { transform: scaleY(1.01); }
  100% { transform: scaleY(0.99); }       
  80% { transform: scaleY(1.01); }
  100% { transform: scaleY(1); }   
}

@function getSpeed($speed, $type:turtle) {
  $secs: 360;
  $divider: 1;
  @if($type == turtle) {
    $divider: 1;
  } @else if($type == rabbit) {
    $divider: 10;
  } @else {
    $divider: 60;
  }
  @if $speed == fastest {
    $secs: 60 / $divider;
  } @else if $speed == really-fast {
    $secs: 120 / $divider;
  } @else if $speed == fast {
    $secs: 180 / $divider;
  } @else if $speed == slow {
    $secs: 240 / $divider;
  } @else if $speed == really-slow {
    $secs: 300 / $divider;
  } @else if $speed == slowest {
    $secs: 360 / $divider;
  }
  @return #{$secs}s;
}
@mixin _rotate-animation($direction, $speed, $type) {
  transform: translate3d(0, 0, 0);
  animation: rotate-#{$direction} getSpeed($speed, $type) linear 0s infinite;
}
@mixin _hover-animation($duration, $delay) {
  transform: translate3d(0, 0, 0);
  animation: hover #{$duration}s linear #{$delay}s infinite; 
}
@mixin _pull-animation($duration, $delay, $x: 200px, $y: 200px) {
  transform: translate3d(0, 0, 0);
  transform-origin: $x $y;
  animation: pull #{$duration}s linear #{$delay}s infinite alternate; 
}
@mixin rotate($type, $direction: left, $speed: slow, $x: 200px, $y: 200px) {
  transform: translate3d(0, 0, 0);
  transform-origin: $x $y;
  @include _rotate-animation($direction, $speed, $type);
}

// Clouds
@for $i from 1 through 3 {
.cloud#{$i} { @include _hover-animation(3, $i); }
}
 // Inner Circles
@for $i from 1 through 5 {
    $direction: left;
    $speed: really-fast;
    .circle#{$i} {
        @if $i % 2 == 1 {
        $direction: right;
        $speed: really-fast;
        } @else {
        $direction: left;
        $speed: slow;
        }
        @include rotate(rabbit, $direction, $speed);
    }
}

.airplane2, .airplane1 {
  @include rotate(turtle, right, fastest);
}

.countryObjects {
  @include rotate(turtle, right, slow);
}

.floatingGlobe {
  @include rotate(turtle, left, normal);
}

.globe {
  $duration: 0;
  $delay: 0;
  @include _hover-animation($duration, $delay);
}

.windmill {
  @include rotate(flash, right, really-fast, 331px, 201px);
}
.mainText{
  text-align: center;
text-transform: capitalize;
font-size: 2.4rem;
width: 11rem;
font-family:'Baloo';
}